<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for each in allusers %}
    <a href="/profilesuser/{{each.username}}">{{each.username}}</a><br>
    {% endfor %}
</body>
</html> -->


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Hawkeye Rifle Shooting Academy (HRSA) is an Air rifle & Pistol shooting training center located in Gottigere, Bannerghatta Road,
Bangalore, equipped by electronic targets with air conditioner, 10mtr shooting range. The aim of our academy is to provide high quality coaching for the shooters, who will create name for India, in next international competitions like world cup, Olympic,Build awareness about the competitive sport of shooting and becoming the stepping stone for the person who can win Gold medal to INDIA.">

    <meta name="keywords"
        content="rifle shooting academy in bangalore, rifle shooting academy in karnataka, best rifle shooting academy in india, rifle shooting academy, Air rifle & Pistol shooting training center, Basic shooting course, air rifle shooting academy in bannerghatta road, rifle shooting academy in gottigere, rifle shooting training center in bangalore, best pistol shooting training center in bangalore. ">
    <meta name="title" content="Hawkeye Rifle Shooting Academy (HRSA), Rifle Shooting Academy in Bangalore, India">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Home :: Hawkeye Rifle Shooting Academy (HRSA) :: Rifle Shooting Academy in Bangalore, India</title>
</head>

<body>
    <!-- <h1>Hello, world!</h1> -->
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="http://127.0.0.1:8000"><i>HawkEye</i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/coach">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/profiles">Profiles</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Graph
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Daily Performace Graph - Rifle</a></li>
                                <li><a class="dropdown-item" href="#">Daily Performance Graph - Pistol</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Rifle Shooters</a></li>
                                <li><a class="dropdown-item" href="#">Pistol Shooters</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/technical_statistics">Technical Graph</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Technical Graph
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Top Emerging Shooters</a></li>
                                <li>
                                <li>
                                <li>
                                <li><a class="dropdown-item" href="#">Most Consistent Shooters</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Shooters Lacking Consistency</a></li>
                                <li><a class="dropdown-item" href="#">Shortlisted for Improvement</a></li>
                            </ul>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Rifle
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/todayrifle">Overall Daily Ranking</a></li>
                                <li><a class="dropdown-item" href="/monthlyrifle">Overall Monthly Ranking</a></li>
                                <li><a class="dropdown-item" href="/quarterlyrifle">Overall Quarterly Ranking</a></li>
                                <li>
                                <li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/todayriflewomen">Daily Ranking Women's</a></li>
                                <li><a class="dropdown-item" href="/monthlyriflewomen">Monthly Ranking Women's</a></li>
                                <li><a class="dropdown-item" href="/quarterlyriflewomen">Quarterly Ranking Women's</a>
                                </li>
                                <li>
                                <li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/todayriflemen">Daily Ranking Men's</a></li>
                                <li><a class="dropdown-item" href="/monthlyriflemen">Monthly Ranking Men's</a></li>
                                <li><a class="dropdown-item" href="/quarterlyriflemen">Quarterly Ranking Men's</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Pistol
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/todaypistol">Overall Daily Ranking</a></li>
                                <li><a class="dropdown-item" href="/monthlypistol">Overall Monthly Ranking</a></li>
                                <li><a class="dropdown-item" href="/quarterlypistol">Overall Quarterly Ranking</a></li>
                                <li>
                                <li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/todaypistolwomen">Daily Ranking Women's</a></li>
                                <li><a class="dropdown-item" href="/monthlypistolwomen">Monthly Ranking Women's</a></li>
                                <li><a class="dropdown-item" href="/quarterlypistolwomen">Quarterly Ranking Women's</a>
                                </li>
                                <li>
                                <li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/todaypistolmen">Daily Ranking Men's</a></li>
                                <li><a class="dropdown-item" href="/monthlypistolmen">Monthly Ranking Men's</a></li>
                                <li><a class="dropdown-item" href="/quarterlypistolmen">Quarterly Ranking Men's</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/diary">From the Diary</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">KeyPoints</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">From the Coach</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
                <p class="text-center text-muted">© Hawkeye Rifle Shooting Academy (HRSA)</p>
            </footer>
        </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>